---
pagination:
  data: collections.all
  size: 5
  reverse: true
eleventyImport:
  collections: [all]
eleventyExcludeFromCollections: true
layout: _base.html
title: Home
stylesheets: [index]
---

{% assign allPosts = pagination.items %}

<h1>Souls Like Strings</h1>

{% include "icons/bonfire.html" %}

<nav id="highlights">
  <h2>Highlights</h2>
  <a href="/games/goty/2025">GOTY 2025</a>
  <a href="/dev/blogs_i_like">Blogs I Enjoy</a>
</nav>

<main>
  {%- for post in allPosts -%}
  <article>
    <a href="{{ post.url }}"><h2>{{ post.data.title }}</h2></a>
    <div class="content">{{ post.content | truncatewords: 100 }}</div>
    <a href="{{ post.url }}">Continue reading</a>
  </article>
  {%- endfor -%}
</main>

<nav class="pagination">
  {% if pagination.previous %}
  <a href="{{ pagination.previous }}">&lt; Newer Posts</a>
  {% endif %}

  <div class="spacer"></div>

  {% if pagination.next %}
  <a href="{{ pagination.next }}">Older Posts &gt;</a>
  {% endif %}
</nav>

{% assign tags = collections.tagsList %}
{% include "_tag_list.html" with tags %}
