<!doctype html>
<html lang="en">
  <head>
	<link rel="preload" href="/css/base.css" as="style"/>
	<link rel="preload" href="/scripts/theme.js" as="script"/>

    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{ title }} | Souls Like Strings</title>
	<link rel="icon" href="/favicon.svg" sizes="any" type="image/svg+xml">
	<link rel="webmention" href="https://webmention.io/souls-like-strings.brett-tanner.dev/webmention" />

    <link rel="stylesheet" href="/css/base.css" />
    {% if stylesheets %} {% for stylesheet in stylesheets %}
    <link rel="stylesheet" href="/css/{{ stylesheet }}.css" />
    {% endfor %} {% endif %}

	<script defer src="/scripts/theme.js"></script>
	<script defer src="/scripts/mobile-nav.js"></script>
    {% if scripts %} {% for script in scripts %}
    <script defer src="/scripts/{{ script }}.js"></script>
    {% endfor %} {% endif %}
  </head>
  <body>
    <header>
      <nav>
        <a href="/">Souls Like Strings</a>
        <div class="spacer"></div>
		{% assign container = "header" %}{% include "_nav_links.html" %}
		<button commandfor="nav-dialog" class="nav-dialog-toggle">
			<div class="line"></div>
			<div class="line"></div>
			<div class="line"></div>
		</button>
		<dialog id="nav-dialog">
		  <form action="" method="dialog">
			<button type="submit">
				{% include "icons/close.svg" %}
			</button>
		  </form>
		  {% assign container = "dialog" %}{% include "_nav_links.html" %}
		</dialog>
	  </nav>
    </header>

    {{ content }}
  </body>
</html>
